@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.7; }

h1 {
  font-weight: 300;
  color: #969696;
  letter-spacing: 1px;
  margin-bottom: 2rem; }
  h1 .title--bold {
    font-weight: 700;
    color: #151f29; }

.inputs__title {
  font-weight: 300;
  font-size: 1.8rem; }

.inputs__button {
  color: #fff;
  background: #4f7df3;
  border: none;
  border-radius: 4rem;
  padding: 1.6rem 5rem;
  box-shadow: 0 0.3rem 1rem rgba(79, 125, 243, 0.7);
  cursor: pointer;
  transition: all 200ms ease; }
  .inputs__button:focus {
    outline: none; }
  .inputs__button:hover {
    transform: translateY(-0.2rem); }
  .inputs__button:active {
    transform: translateY(0.2rem); }

.inputs__field {
  color: rgba(21, 31, 41, 0.6);
  padding: 1.2rem 0 1.2rem 3rem;
  border-radius: 4rem;
  border: 1px solid rgba(21, 31, 41, 0.3); }
  .inputs__field::placeholder {
    color: rgba(21, 31, 41, 0.3); }
  .inputs__field:focus {
    outline: none; }

.footer__icons {
  color: #4f7df3; }
  .footer__icons i.fab {
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-radius: 100%;
    padding: 0.5rem; }
    .footer__icons i.fab:first-child {
      padding-left: 0.7rem;
      padding-right: 0.7rem; }
    .footer__icons i.fab:not(:last-child) {
      margin-right: 2rem; }

.footer__paragraph {
  color: #969696; }

.main {
  width: 100%;
  padding: 2rem; }

.header__image {
  margin: 4rem 0; }

.header__title {
  font-size: 2.4rem; }

.inputs {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8rem;
  /* margin: 0 auto 8rem auto; */ }
  .inputs__title {
    margin-bottom: 3rem; }
  .inputs__field {
    margin-bottom: 1rem; }
  .inputs__field, .inputs__button {
    display: block;
    width: 100%; }
  .inputs .state {
    font-style: italic;
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1rem 0;
    font-size: 1.3rem; }
  .inputs .success {
    background: rgba(46, 204, 112, 0.2);
    border: 1px solid #2ecc70; }
  .inputs .error {
    background: rgba(255, 82, 99, 0.2);
    border: 1px solid #ff5263; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .wrapper__image {
    width: 100%; }

.footer {
  padding-bottom: 2rem; }
  .footer__icons {
    font-size: 2rem;
    margin-bottom: 3rem; }

@media (min-width: 40rem) {
  body {
    font-size: 1.5rem; }
  .main {
    max-width: 96rem;
    width: 90%;
    margin: 0 auto; }
  .header__title {
    font-size: 5rem; }
  .inputs__field, .inputs__button {
    display: inline-block; }
  .inputs__field {
    max-width: 35rem; }
  .inputs__button {
    width: 20rem;
    margin-left: 1.5rem; }
  .wrapper {
    width: 70%;
    margin: 0 auto 6rem auto; } }
