@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

//Color
$primary: hsl(223, 87%, 63%);

$secondary-light-blue: hsl(223, 100%, 88%);
$secondary-error: hsl(354, 100%, 66%);
$secondary-success: hsl(145, 63%, 49%);

$neutral-gray: hsl(0, 0%, 59%);
$neutral-blue: hsl(209, 33%, 12%);
